<div id="image-chooser-region"></div>
<div id="image-trimmer-region"></div>
<input type="hidden" name="upload_or_url" />
<input type="hidden" name="image_width" />
<input type="hidden" name="image_height" />
<input type="hidden" name="image_x" />
<input type="hidden" name="image_y" />
