<div class="event-block">
  <h3><%= date.strftime('%-d %B, %Y - %A') %></h3>
  <div class="events">
    <% events.each do |event| %>
      <%= render partial: 'event_summary', locals: { event: event } %>
    <% end %>
  </div>
  <div class="button-container">
    <%= form_tag('/events/on_date', class: 'more-form', method: 'GET', remote: true) do %>
      <input type="hidden" name="skip" value="5" />
      <%= submit_tag('Show More', class: 'btn btn-more') %>
    <% end %>
  </div>
</div>
