<div class="sidebar">
  <h5 class="filter-title">Your Subkasts:</h5>
  <div class="subkasts-container">
    <div class="subkast-list">
      <% @all_subkasts.each do |subkast| %>
        <div>
          <%= link_to subkast.name, events_by_subkast_path(subkast_slug: subkast.slug) %>
        </div>
      <% end %>
    </div>
    <div class="subkast-edit">+ <a href="/users/edit" class="subkast-edit-link">Edit Your Subkasts</a></div>
  </div>
</div>
