<h5 class="filter-title">Your Subkasts:</h5>
<div class="subkasts-container">
  <div class="subkast-list">
    <% subkast_links = @all_subkasts.map do |subkast| %>
        <% link_to subkast.name, events_by_subkast_path(subkast_slug: subkast.slug, country: params[:country]) %>
    <% end %>

    <%= raw(subkast_links.join(' / ')) %>
  </div>
  <div class="subkast-edit"><a href="/users/edit" class="subkast-edit-link">+ Edit Your Subkasts</a></div>
</div>
