/*
 *= require_self
 *= require home
 *= require scaffolds
 *= require font-awesome
 *= require datepicker
 */

// Core variables and mixins
@import 'bootstrap_variables';
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';
@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/jumbotron';
@import 'bootstrap/thumbnails';
@import 'bootstrap/alerts';
@import 'bootstrap/progress-bars';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/panels';
@import 'bootstrap/wells';
@import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
@import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

@font-face {
  font-family: 'icomoon';
  src: url(asset-path('fonts/icomoon.eot'));
  src: url(asset-path('fonts/icomoon.eot')) format('embedded-opentype'),
    url(asset-path('fonts/icomoon.woff')) format('woff'),
    url(asset-path('fonts/icomoon.ttf')) format('truetype'),
    url(asset-path('fonts/icomoon.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: '\e600';
}
.icon-twitter:before {
  content: '\e601';
}
.icon-facebook:before {
  content: '\e602';
}
.icon-bar {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: #000;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/* USERVOICE */

a.uservoice {
  display: block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 80px;
  height: 110px;
  background: transparent url(asset-path('feedback.png')) no-repeat;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

/* GENERAL STYLES */

$active: #75DBC7;
$activeText: #FFF;

body, h1, h2, h6, .h1, .h2, .h4, .h6, p, a, span, label, button {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
h3, .h3, , h4, .h4, h5, .h5, .upvote-counter, .event-title, .event-upvotes, .col-lg-3, .btn-more {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
}
.center {
  text-align: center;
  p {
    margin-top: 20px;
  }
}
body.not-found {
  background: #DBCBB6;
  h1 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
  }
  .slug-404 {
    background: transparent url(asset-path('404.png')) no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 400px;
  }
  h3 {
    text-align: center;
    a {
      text-decoration: underline;
      color: #333;
    }
  }
  .fa-spinner {
    display: none;
  }
}
#home-page {
  margin: 0 auto;
  padding: 0 20px;
}
#main_body {
  margin-top: 0;
}
.navbar-header {
  padding: 0 20px 0 0;
}

/* BUTTON STYLES */

.navbar .btn-focus,
.btn-focus {
  background: darken($active, 10%);
  color: $activeText;
  border: 1px solid darken($active, 10%);
  &:hover {
    background: darken($active, 15%);
    color: $activeText;
  }
}
.navbar .btn-alt,
.btn-alt {
  background: #EEE;
  border: 1px solid #EEE;
  color: #666;
  &:hover{
    background: #E9E9E9;
  }
}
.btn-more {
  padding: 0;
}
.dropdown-toggle {
  border: none;
  border-radius: 0;
  font-weight: 100;
  &:hover {
    background: none !important;
    border-bottom: 1px dotted #888;
  }
}

/* NAVBAR */

.navbar-title {
  color: #FFF;
  padding-right: 315px;
  margin-top: 16px;
  display: none;
  text-align: center;
}
.navbar-container {
  .navbar-collapse {
    padding: 0 !important;
    .tagline {
      color: #FFF;
      font-size: 16px;
      padding: 0 20px 0 0;
      line-height: 56px;
    }
    .nav .what-is-global > a {
      color: #FFF;
      display: block;
      padding: 17px 0 0 5px;
      font-size: 11px;
      width: 80px;
      line-height: 11px;
    }
    .nav .what-is-global > a:hover {
      background: none;
    }
    .nav .newsletter {
      color: #FFF;
      display: block;
      padding: 17px 0 10px;
      font-size: 11px;
      width: 125px;
      line-height: 11px;
    }
    .nav .newsletter-arrow {
      width: 15px;
      height: 11px;
      background: transparent url(asset-path('arrow.png')) no-repeat;
      background-size: 100%;
      margin-top: 23px;
      padding: 0;
    }
  }
}
.navbar-indom-container {
  height: 56px;
}
.navbar-container {
  .forekast-navbar {
    border-width: 0;
    padding: 0 15px 0 0;
  }
  a.logo {
    margin: 0 0 0 15px;
    display: block;
    width: 193px;
    height: 56px;
    background: transparent url(asset-path('forekast_logo.png')) no-repeat;
    background-size: 100%;
    text-indent: -999px;
    overflow: hidden;
  }
  .forekast-navbar {
    background-color: #3E4252;
    z-index: 1050;
    a.navbar-brand {
      display: block;
      margin: 0 20px;
      width: 220px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 35px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFF;
    }
    ul.nav a {
      cursor: pointer;
      padding: 6px 10px;
    }
    li>.dropdown-toggle {
      background-color: #3E4252;
      color: #FFF;
      &:hover {
        border-bottom: 1px solid #3E4252;
        background: #3E4252;
        opacity: 0.7;
      }
    }
    .navbar-right li a {
      margin: 11px 0 0 10px;
    }
    .dropdown-toggle:hover {
      border-bottom: 1px solid #606880;
    }
    .caret {
      margin: 0 0 0 5px;
    }
    .navbar-nav .active a.add-new,
    .navbar-nav a.add-new {
      border: 1px solid #606880;
      color: #FFF;
      background-color: #3E4252;
      margin: 11px 0 0 0;
      font-weight: 100;
      background-color: #6E7690;
      &:hover{
        background: #3E4252;
        opacity: 0.7;
      }
    }
    .navbar-collapse.in {
      max-height: 500px;
      li {
        padding: 10px 30px;
      }
      .dropdown-menu {
        a {
          background-color: #EBEBEB;
          &:hover {
            background-color: #FFF;
          }
        }
      }
    }
    .dropdown-menu {
      padding: 0;
      margin: 0;
      li {
        a {
          margin: 0;
          padding: 15px;
        }
      }
      li:first-child {
        a {
          border-bottom: 1px solid #F5F5F5;
        }
      }
    }
  }
  .subkast-navbar {
    top: 57px;
    min-height: initial;
    height: 32px;
    line-height: 32px;
    border: 0;
    padding: 0 0 0 20px;
    background-color: #B6C8CF;
    .subkast-header {
      color: #6A7E97;
      font-size: 16px;
      font-weight: 600;
    }
    .subkast {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
    }
    a.subkast-header-link {
      text-decoration: none;
    }
  }
  .filter-region {
    position: fixed;
    top: 50px;
    &.country {
      left: 230px;
    }
    &.subkast {
      left: 468px;
    }
  }
  .filter {
    border: solid #CECECE 1px;
    padding: 5px;
    select {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &.country-filter {
      width: 215px;
    }
  }
}
.omniauth-sign-up {
  border-left: 1px solid #CCC;
  ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
    float: left;
    li {
      margin: 0 0;
      display: inline;
      width: 140px;
    }
  }
  height: 250px;
}
.profile {
  border: none;
  background: none;
  margin-right: 130px;
  margin-top: 10px;
}

/* EVENTS */

.event-block {
  h3 {
    color: #444;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .button-container {
    text-align: center;
  }
  .btn-more {
    width: 100%;
    height: 30px;
    border-radius: 0;
    margin: 0 auto;
    background-color: #E7E7E7;
    font-weight: 600;
    color: #666;
  }
  .btn-more:hover {
    background-color: lighten($active, 10%);
    color: #666;
    font-weight: 600;
  }
}
#event-blocks-region {
  width: 780px;
  padding: 0;
  margin: 0;
}
.events {
  padding: 10px 0 0 0;
}
.event {
  background-color: #F7F7F7;
  padding: 10px 15px 0 15px;
  margin-bottom: 5px;
  font-size: 16px;
  position: relative;
  &:hover {
    background-color: #EFEFEF;
  }
  .upvote-container {
    height: 60px;
    margin-right: 14px;
    width: 20px;
    color: #666;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #111;
    }
    i {
      padding-top: 5px;
      cursor: pointer;
      text-align: center;
      &.glyphicon-ok {
        font-size: 15px;
        color: $active;
      }
      &.glyphicon-remove {
        color: #EB3D00;
        font-size: 16px;
        line-height: 0.9;
      }
      &.fa-caret-up {
        font-size: 16px;
      }
    }
    .upvote-counter {
      font-size: 18px;
      line-height: 1;
      font-weight: 700;
      text-align: center;
    }
  }
  img {
    cursor: pointer;
  }
  .image-container {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 80px;
    height: 60px;
    overflow: hidden;
  }
  .meta-container {
    width: 78%;
    padding: 0 0 5px;
    margin: -4px 0 0;
    .event-meta {
      font-size: 14px;
      color: #999;
      font-weight: 300;
    }
    a.event-name {
      color: #049ADA;
      cursor: pointer;
        font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.event-form {
  width: 925px;
  h3 {
    margin: 20px 0;
  }
  .row {
    margin-bottom: 35px;
  }
  label.error {
    font-size: 12px;
    color: red;
    font-weight: normal;
  }
}
.event {
  .reminder-container {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 14px;
    height: 20px;
  }
}
.event-card {
  .reminder-container {
    position: relative;
    display: inline-block;
    margin: 0 0 0 5px;
  }
}
.reminder-container {
  cursor: pointer;
  .glyphicon.highlight {
    color: $active;
  }
}
.event-reminders-super-container {
  position: absolute;
  right: -85px;
  z-index: 5;
  .up-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #424242;
    margin: 0 auto;
  }
  .event-reminders-container {
    width: 185px;
    background-color: #424242;
    padding: 12px 16px;
    border-radius: 4px;
    span,
    label {
      color: #FFF;
      font-size: 12px;
    }
    span {
      font-weight: bold;
    }
    .checkbox-container {
      margin-bottom: 8px;
    }
    .checkbox {
      margin-top: 0;
      margin-bottom: 3px;
    }
    .btn.highlight {
      background-color: $active;
      color: #FFF;
    }
    .btn:hover {
      font-weight: normal;
    }
  }
}

/* SIDEBAR */

#sidebar-region {
  width: 325px;
  margin: 0 0 0 25px;
  padding: 0;
}
.sidebar {
  width: 350px;
  margin: 0;
  padding: 18px 15px 0;
  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #444;
    margin: 0;
  }
  ol {
    padding-left: 22px;
  }
  #subkast-filter {
    h5 {
      padding-top: 0;
    }
    .subkasts-container {
      margin-left: 10px;
      .subkast-list {
        margin-bottom: 10px;
        div {
          width: 50%;
          float: left;
        }
        a {
          color: #666;
          text-decoration: underline;
          font-weight: 300;
          line-height: 1.6;
        }
      }
      .subkast-edit {
        clear: both;
        padding: 5px 0 0;
        color: #049ADA;
        font-weight: 600;
      }
      .subkast-edit-link {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  #country-filter {
    padding: 20px 0 0;
    clear: both;
    sup {
      font-size: 10px;
      color: #049ADA;
      cursor: pointer;
      font-weight: 600;
      padding: 0 0 0 2px;
    }
    .tooltip {
      font-family: Helvetica, Arial, sans-serif !important;
      font-weight: normal !important;
    }
    select {
      margin: 10px 0 0 10px;
    }
  }
  #sidebar-social {
    width: 225px;
    height: 50px;
    padding: 20px 0 0;
    ul {
      margin: 10px 0 0 10px;
      list-style: none;
      padding: 0;
      li {
        a:hover {
          background: #D3CEC9;
        }
        a {
          float: left;
          padding: 0;
          width: 50px;
          height: 50px;
          margin: 0 0 0 5px;
          background: #DAD5D1;
          color: #FFF;
          font-size: 30px;
          line-height: 50px;
          text-align: center;
        }
      }
      li:first-child a {
        margin-left: 0;
      }
    }
  }
  #sidebar-event-list {
    padding: 20px 0 0;
    clear: both;
  }
  .sidebar-element {
    ul {
      margin: 0;
      list-style-position: inside;
      li {
        margin-left: 10px;
        line-height: 1.24;
        margin-bottom: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  select {
    width: 80%;
  }
  .checkbox-container {
    padding-left: 20px;
  }
}

/* EVENT MANAGEMENT */

.image-trimmer {
  width: 300px;
}
#image-chooser-region {
  height: 40px;
  display: block;
}
.event-name {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
form.event_form {
  padding: 20px 20px 15px;
  margin-bottom: 40px;
  .clear {
    clear: both;
  }
  .col-sm-3 {
    width: 25% !important;
  }
  .col-sm-9 {
    width: 75% !important;
  }
  .form-group {
    min-height: 40px;
    .control-label {
      line-height: 30px;
    }
  }
  input,
  select {
    max-width: 400px;
  }
  .event_form_name {
    height: initial;
    padding: 0 0 12px;
    #name {
      display: inline;
    }
    #name + span {
      margin-left: 10px;
      font-weight: 100;
      color: gray;
    }
  }
  .event_form_subkast {
    height: initial;
    padding: 0 0 12px;
  }
  .event_form_location {
    padding: 0 0 15px;
    height: initial;
    .col-sm-9 label {
      font-weight: normal;
      margin: 0 0 10px;
    }
  }
  .event_form_date {
    height: initial;
    padding: 0 0 15px;
  }
  .event_form_date.is_all_day{
    height: initial;
    padding: 0 0 15px;
  }
  .event_form_image {
    height: initial;
    padding: 0 0 15px;
    font-weight: 300;
    color: darkslategray;
    p:nth-child(3) {
      color: #AA0000;
    }
  }
  .event_form_description {
    height: initial;
    padding: 0 0 15px;
  }
  .form-group {
    border-bottom: 1px solid #E5E5E5;
  }
  .glyphicon-calendar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
  }
  .date_selector {
    padding-left: 28px;
    max-width: 200px;
    float: left;
  }
  .date_picker {
    .col-sm-9 {
      padding: 0;
      width: 100% !important;
    }
  }
  .date_picker_all_day {
    float: left;
    margin-left: 20px;
  }
  .col-sm-9 .col-sm-9 {
    padding-left: 0;
    clear: left;
  }
  .date_picker_all_day_group,
  .date_picker_time_group,
  .date_picker_or {
    height: 30px;
    margin-top: 15px;
    float: left;
  }
  .date_picker_all_day_group {
    margin-left: 0;
  }
  .date_picker_special_time_group {
    clear: left;
    h5.time_group_title {
      font-weight: bold;
      margin-top: 15px;
    }
    label.control-label {
      line-height: 1.3;
      display: block;
      margin: 10px 0 0;
      input[type=radio] {
        margin: 0 10px 0 0;
      }
      .date_picker_time_format_description {
        font-weight: normal;
        padding-left: 18px;
        padding: 5px 0 5px 28px;
      }
      .date_picker_time_format_example {
        font-weight: normal;
        font-size: 11px;
        color: #888;
        padding-left: 28px;
      }
    }
  }
  .event_form_date.is_all_day .date_picker_special_time_group {
    display: none;
  }
  .date_picker_time_group {
    padding-top: 5px;
    .zone-display {
      color: #888;
    }
  }
  .timedisplay {
    margin: 20px 0 0;
    .time-display {
      color: #666;
    }
    .time-display-value {
      font-weight: bold;
    }
  }
}
.image-trimmer-input-container {
  .image_trimmer_choose_toolbar {
    display: block;
    padding: 0;
    margin: 0;
    .form-group {
      max-width: 260px;
      float: left;
      .form-control {
        width: 196px;
        padding-left: 30px;
      }
    }
    .glyphicon-link {
      position: absolute;
      top: 10px;
      left: 24px;
      color: #666;
    }
    span.or {
      float: left;
      width: 20px;
      padding-top: 8px;
      text-align: center;
      padding-left: 8px;
    }
    .btn {
      float: left;
      margin-left: 10px;
    }
  }
  input[type=file] {
    position: absolute;
    visibility: hidden;
  }
}
.time-display {
  color: #63893F;
}
.image-trimmer-dialog {
  position: relative;
  .body {
    background-color: transparent;
    .image-container {
      width: 100%;
      height: 280px;
    }
    .image-container {
      position: relative;
      overflow: hidden;
      cursor: move;
      img {
        position: absolute;
      }
      .image-trim {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-style: solid;
        border-color: rgba(125, 125, 125, 0.5);
        border-top-width: 42px;
        border-bottom-width: 43px;
        border-right-width: 20px;
        border-left-width: 20px;
        z-index: 2;
      }
    }
    .slider-container {
      margin-top: 15px;
      text-align: center;
      .slider-track {
        position: relative;
        margin: auto 3px;
        background-color: #CCC;
        display: inline-block;
        border: solid 1px #EEE;
        border-radius: 6px;
        width: 230px;
        height: 10px;
        .slider {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 10px;
          background-color: #FFF;
          border: solid 1px #CCC;
          top: -6px;
          cursor: pointer;
        }
      }
      .slider-icon-container {
        display: inline-block;

      }
    }
  }
}

/* EVENT PAGE */

.event-page {
  float: none;
  width: 830px;
  margin: 0 auto;
  padding: 25px 0 0;
}
#event-card-region {
  width: 830px;
}
.event-card {
  .event-image-container {
    height: 340px;
    width: 430px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
  .event-image-container img {
    max-width: 100%;
  }
  .event-info-container {
    width: 415px;
    text-align: left;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 10px 15px 15px;
  }
  .event-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }
  .event-time-location {
    font-size: 17px;
    color: #888;
    line-height: 1.2;
    display: block;
    padding: 10px 0;
  }
  .event-description-container {
    margin: 15px 0 0;
    overflow-x: hidden;
    .event-description {
      color: #666;
      word-wrap: break-word;
    }
    p {
      margin: 0;
    }
    .event-submitter {
      text-align: right;
    }
  }
  .event-submitter {
    font-size: 12px;
    color: #BBB;
  }
  .event-tools-container {
    bottom: 0;
    .event-upvotes {
      font-weight: bold;
      cursor: pointer;
      #upvotes-icon {
        color: #48C9B0;
        width: 14px;
        display: inline-block;
      }
    }
    .event-tool-container {
      display: inline;
      .event-tool-popover {
        display: inline-block;
      }
      .event-tool {
        color: #888;
        &.btn {
          height: 18px;
          color: #FFF;
          text-decoration: none;
        }
        font-size: 12px;
        margin-right: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .event-likes-container {
    padding-top: 10px;
    height: 35px;
    width: 100%;
    display: block;
    div {
      display: inline-block;
    }
  }
}
.popover {
  background-color: #EFEFEF;
  &.bottom .arrow {
    &:after {
      border-bottom-color: #EFEFEF;
    }
  }
  .popover-title {
    background-color: #EFEFEF;
    border-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
  }
  .popover-content {
    background-color: #EFEFEF;
    padding-top: 0;
  }
  .btn {
    border: solid #B9B9B9 1px;
  }
}

/* COMMENTS */

#event-comments-region {
  width: 830px;
  .markdown-supported {
    font-size: 12px;
    padding: 0 10px 0 0;
  }
  .comment {
    margin: 10px 0 0;
  }
  .user-comment {
    margin: 10px 0;
    display: inline-block;
    float: left;
  }
  .up-vote {
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
    color: #888888;
    i {
      cursor: pointer;
      display: block;
      height: 20px;
      font-size: 25px;
    }
  }
  .upvote-marked {
    color: #89E4D9;
  }
  .downvote-marked {
    color: #FFA094;
  }
  .info {
    margin-bottom: 3px;
  }
  .username {
    font-size: 18px;
    color: #333;
  }
  .reply {
    cursor: pointer;
    font-weight: bold;
    color: #666;
  }
  .mute-delete {
    cursor: pointer;
    &.btn-xs {
      padding: 0 5px;
      height: 19px;
    }
  }
  .reply-box {
    textarea {
      border-radius: 0;
    }
  }
  .tools {
    display: inline-block;
    color: #AAA;
    font-size: 13px;
  }
  .deleted .comment-text {
    font-style: italic;
  }
  .nested-comments {
    margin-left: 18px;
    padding-left: 10px;
    .comment-list {
      border-left: dotted 1px #DDD;
      padding-left: 14px;
    }
    .reply-box {
      margin-top: 10px;
    }
  }
  [data-action='cancel'] {
    margin-right: 5px;
  }
}

/* USER EDIT PAGE */

div.label {
  font-weight: bold;
}
.subkast-edit-container {
  .row {
    margin-left: 0;
  }
  div.subkast-list-container {
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

/* FOOTER */

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  opacity: 0.9;
  border-top: 1px solid #AAA;
  z-index: 1000;
  .footer-text {
    padding: 5px 15px 5px 0;
    color: #333A3D;
    font-size: 13px;
    float: right;
    font-weight: 100;
    a {
      font-size: 13px;
      color: #666;
      :hover {
        color: #222;
      }
    }
    i {
      padding: 0 0 0 5px;
      font-size: 14px;
    }
  }
}

/* LOGIN / FORMS */

#main_body {
  h3 {
    margin: 20px 0;
  }
}
.login-container,
.signup-container {
  width: 100%;
  margin: 0;
  .login-subcontainer,
  .signup-subcontainer {
    margin: 0 auto;
    float: none;
    padding: 0;
    h3 {
      margin: 20px 0;
    }
    .sign-up {
      width: 400px;
      margin: 0 auto;
      .form-group {
        label.control-label {
          width: 100px;
          text-align: left;
          padding-left: 0;
          padding-right: 0;
        }
        div {
          width: 300px;
          padding: 0;
          margin: 0;
          text-align: center;
        }
        div.remember-me {
          width: 300px;
          padding: 0;
          margin: 0 0 0 100px;
          text-align: left;
        }
      }
    }
  }
  .signup-subcontainer {
    .sign-up {
      width: 475px;
      .form-group {
        label.control-label {
          width: 175px;
        }
      }
    }
  }
  .forgot-password,
  .center,
  .center p {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
.formlegend {
  border-top: 1px solid #666;
  margin: 30px 0 20px;
  div {
    text-align: center;
    background: #FFF;
    width: auto;
    margin: 0 auto;
    margin-top: -10px;
    width: 150px;
    font-weight: bold;
  }
}
.omniauth-login {
  width: 100%;
  height: 80px;
  margin: 20px auto;
  padding-left: 0;
  li {
    list-style: none;
    width: 48%;
    float: left;
    height: 80px;
    a {
      font-weight: lighter;
      color: #FFF;
      display: block;
      font-size: 19px;
      height: 80px;
    }
    a span.txt {
      display: block;
      line-height: 80px;
      text-indent: 20px;
    }
    span.icon {
      font-size: 40px;
      display: block;
      float: left;
      border-right: 2px solid #FFF;
      margin: 10px;
      padding: 10px 20px 10px 20px;
    }
  }
  li.twitter {
    margin-right: 2%;
  }
  li.twitter a {
    background: #90C7E7;
  }
  li.twitter a:hover {
    background: darken(#90C7E7, 5%);
    text-decoration: none;
  }
  li.facebook {
    margin-left: 2%;
  }
  li.facebook a {
    background: #7690BC;
    margin-left: 2%;
    span.icon {
      padding-left: 15px;
      padding-right: 25px;
    }
  }
  li.facebook a:hover {
    background: darken(#7690BC, 5%);
    text-decoration: none;
  }
}
.profile-settings {
  padding-bottom: 10px;
  .control-label {
    padding: 7px 0 0 0;
    text-align: left;
  }
  .subkast-edit-container {
    padding: 0 0 10px;
    .subkast-list-container {
      margin: 0 0 10px;
      width: 400px;
    }
  }
}
.change-password {
  .control-label {
    padding: 7px 0 0;
  }
  .form-footer {
    text-align: center;
  }
}

/* DARK THEME */

$darkTitleColour: #D4D7F7;
$darkBackground: #3F4253;
$darkAccentColour: #7CDDCA;

body.dark {
  background: $darkBackground;
  footer {
    height: 30px;
  }
  .navbar-header {
    margin: 0 20px 0 0;
  }
}
body.dark .container {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #FFF;
  .paradem {
    height: 100px;
  }
  .paradem {
    background: url(asset-path('paradem.png')) no-repeat 50% %50;
    background-size: 100%;
  }
  p {
    font-size: 18px;
  }
  a,
  em {
    color: $darkAccentColour;
    font-style: normal;
  }
  h2 {
    text-transform: uppercase;
    color: $darkTitleColour;
    font-weight: 300;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 30px;
  }
  h2.local-events {
    letter-spacing: 0;
    color: $darkAccentColour;
    font-size: 22px;
    margin-top: 20px;
    background: url(asset-path('about-location-pins.png')) no-repeat 50% 0;
    padding-top: 150px;
    margin-bottom: 20px;
  }
  div.title-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  div.hr-title-scores {
    background: $darkTitleColour;
    height: 2px;
    width: 14%;
    margin-top: 33px;
    float: left;
  }
  h2.title {
    width: 70%;
    float: left;
    padding: 0 2%;
  }
  .top-row {
    margin-top: 50px;
    img {
      width: 45%;
      margin-left: 5%;
      float: left;
    }
    p {
      margin-left: 5%;
      float: left;
      width: 45%;
      margin-top: 6%;
    }
  }
  dl.about-list {
    font-size: 22px;
    dt {
      padding-left: 100px;
      color: $darkAccentColour;
      height: 90px;
      margin-bottom: -50px;
    }
    dt.upvote { background: url(asset-path('about-upvote.png')) no-repeat 0 0; }
    dt.calendar { background: url(asset-path('about-calendar.png')) no-repeat 0 0; }
    dt.knowledge { background: url(asset-path('about-knowledge.png')) no-repeat 0 0; }
    dt.subscribe { background: url(asset-path('about-subscribe.png')) no-repeat 0 0; }
    dt.reminder { background: url(asset-path('about-reminder.png')) no-repeat 0 0; }
    dt.double {
      height: 120px;
    }
    dd {
      padding-left: 100px;
      margin-bottom: 50px;
      font-size: 18px;
    }
  }
  img {
    width: 100%;
    padding: 5px;
  }
  img.half { width: 50%; }
  img.left { float: left; }
  img.right { float: right; }
  img.clear { clear: both; }
  img.gaming {
    width: 43.8%;
  }
  img.movies {
    width: 56.2%;
  }
}

/* RESPONSIVE DESIGN */

#mobile-sidebar {
  padding: 10px 0;
  margin-top: -10px;
  display: none;
  .filter {
    border: none;
    padding: 0;
  }
  .sidebar {
    margin-top: 0;
  }
  h5 {
    font-size: 13px;
    line-height: 13px;
    padding: 0 0;
    margin: 0;
  }
  .country-filter-title {
    float: left;
  }
  .country-filter {
    width: auto;
  }
  .checkbox  {
    margin: 0;
  }
  .form-control {
    margin-bottom: 5px;
  }
  #subkast-filter {
    border-bottom: none;
    margin-bottom: 0;
  }
  #sidebar-social {
    display: none;
  }
}

// Handheld
@media only screen and (max-width: 991px) {
  .forekast-navbar {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-header {
    .logo {
      margin: 0 0 0 10px;
    }
    .navbar-toggle {
      border-radius: 0;
      padding: 0;
      margin: 20px 20px 0 0;
      .icon-bar {
        background: #FFF;
      }
    }
  }
  .navbar-collapse.in {
    .navbar-nav {
    margin: 0;
      li {
        margin: 0;
        a {
          margin: 0;
        }
        a.add-new {
          margin: 10px 0 0;
          border: 0;
        }
        a.dropdown-toggle {
          margin: 0;
          padding: 0 0 10px;
          border: 0;
          box-shadow: none !important;
        }
      }
      .dropdown-menu {
        li {
          padding: 10px 0;
          margin: 0;
          a {
            padding: 5px 0;
            border-radius: 4px;
            text-align: center;
          }
        }
        li:first-child {
          display: none;
        }
      }
    }
  }
  #sidebar-region {
    display: none;
  }
  .container {
    padding: 0 20px 20px !important;
  }
  #event-blocks-region {
    width: initial;
    .event-block {
      h3 {
        font-size: 14px;
        margin: 15px 0 0;
      }
      .event {
        padding: 10px;
        .meta-container {
          clear: both;
          padding: 10px 0 0;
          width: 100%;
          font-size: 14px;
          .event-info {
            font-size: 12px;
          }
          .event-meta {
            font-size: 12px;
            display: block;
          }
        }
        .image-container {
          margin: 0 10px 0 0;
        }
      }
    }
  }
  .event-page {
    padding: 0 0 15px;
    width: initial;
    a {
      word-break: break-all;
      word-wrap: break-word;
    }
    #event-card-region {
      width: initial;
      .event-card {
        margin: 0;
        padding: 0;
        .event-image-container {
          width: initial;
          height: initial;
          margin: 0;
          padding: 0;
          text-align: center;
          .event-likes-container {
            display: none;
          }
        }
        .event-heading-container {
          .event-title {
            font-size: 18px;
          }
          .event-time-location {
            font-size: 12px;
            padding: 5px 0 10px;
          }
        }
        .event-info-container {
          width: initial;
          .event-description-container {
            margin: 10px 0 0;
            .event-submitter {
              padding: 5px 0 0;
            }
          }
        }
      }
    }
    #event-comments-region {
      width: initial;
      padding: 0 15px;
      .row {
        margin: 0;
        .col-md-12 {
          padding: 0;
        }
      }
      h3 {
        margin: 10px 0;
        font-weight: 18px;
      }
      .pull-right {
        margin: 0;
      }
      .comment {
        margin: 10px 0 0;
        .info {
          padding: 13px 0 0;
        }
        .user-comment {
          padding: 0 0 0 25px;
          float: none;
          display: block;
          margin: 0;
          .up-vote {
            margin: 0 5px 0 0;
            display: block;
          }
          .username {
            font-size: 15px;
          }
        }
        .comment-text {
          font-size: 13px;
        }
      }
    }
  }
  .event-form {
    width: initial;
    padding: 0 !important;
    h3 {
      font-size: 16px;
      margin: 10px;
    }
    form.event_form {
      border-radius: 0;
      padding: 10px 10px 15px;
      margin-bottom: 0;
      box-shadow: none;
      border: none;
      .form-group {
        margin-bottom: 10px;
      }
      .col-sm-3 {
        width: 100% !important;
        float: none;
        padding: 0;
        .control-label {
          line-height: initial;
        }
      }
      .col-sm-9 {
        width: 100% !important;
        float: none;
        padding: 0;
        label {
          font-size: 12px;
          input[type=radio] {
            margin: 4px 4px 4px 0;
          }
        }
        .counter-label {
          display: block;
          margin: 5px 0 0;
          font-size: 11px;
        }
      }
      .date_selector {
        max-width: none;
      }
      .date_picker_all_day {
        float: none;
        margin: 5px 0;
      }
      .date_picker_time_group {
        padding: 0;
        margin: 15px 0;
        height: initial;
        float: none;
        .zone-display {
          display: block;
          margin: 5px 0 0;
          font-size: 12px;
          text-align: left;
        }
      }
      .date_picker_special_time_group {
        .control-label {
          font-size: 12px;
        }
        .timedisplay {
          margin: 10px 0 0;
        }
      }
      .ie-warning {
        display: none;
      }
      .image-trimmer {
        width: initial;
        #image-chooser-region {
          height: initial;
        }
        #image-trimmer-region {
          display: none;
        }
        #image-chooser-region {
          .image-trimmer-input-container {
            .image_trimmer_choose_toolbar {
              .form-group {
                margin: 0;
                .glyphicon-link {
                  left: 10px;
                }
              }
              .btn {
                float: none;
                clear: both;
                margin: 0;
                display: block;
              }
              input[type=file] {
                height: 0;
              }
            }
          }
        }
      }
    }
  }
  #main_body {
    margin-top: 0 !important;
    padding: 0;
  }
  .login-container,
  .signup-container {
    .login-subcontainer,
    .signup-subcontainer {
      padding: 0 0 20px;
      .omniauth-login {
        height: initial;
        li {
          float: none;
          width: 100%;
          height: 44px;
          margin: 0 0 10px !important;
          a {
            font-size: 14px;
            height: 44px;
            margin: 0 !important;
            .icon {
              font-size: 24px;
              padding: 0 10px !important;
              line-height: 44px;
              border-right-width: 1px;
              margin: 0;
            }
            .txt {
              line-height: 44px;
            }
          }
        }
      }
      .form-horizontal {
        width: initial;
        .form-group {
          .control-label {
            width: 100%;
            padding: 0 0 7px;
          }
          div {
            width: 100%;
          }
          .remember-me {
            width: 100% !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
  #footer {
    padding: 5px 20px;
    opacity: 1;
    .footer-text {
      padding: 0;
      text-align: center;
      font-size: 11px;
      height: 13px;
      overflow: hidden;
      line-height: 11px;
      a {
        font-size: 11px;
      }
      i {
        font-size: 12px;
      }
    }
  }
  .uservoice {
    display: none !important;
  }
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #event-blocks-region {
    .event-block {
      .event {
        .meta-container {
          clear: none;
          width: initial;
        }
      }
    }
  }
  .image-trimmer {
    #image-chooser-region {
      .image-trimmer-input-container {
        .image_trimmer_choose_toolbar {
          .btn {
            float: left;
            clear: none;
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}
