* {
    background: 0 0;
    border: none;
    outline: 0;
    list-style: none;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    font-family: 'Nunito';
    color: #439FE0;
}
a:hover {
    color: #439FE0;
}
.box {
    font-family: 'Nunito';
    height: auto;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F6E7DD;
    color: white;
    border-radius: 5px;
    margin: 80px auto 0px auto;
    width: 900px;
    height: 50px;
}

.box h3 {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    color: #3E4252;
    position: relative;
    top: -13px;
}

.closeButton {
    float: right;
    cursor: pointer;
    color: #aaa;
    position: relative;
    top: 3px;
}
.closeButton:hover {
    opacity: .6;
}
.tagline-form-object {
    text-align: center;
    float: left;
}
.tagline-form-input {
    background-color: #FFF;
    font-family: 'Nunito',sans-serif;
    padding: 5px;
    font-weight: 100;
    color: #555459;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
    font-size: 15px;
}
.tagline-form-submit {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #E26703;
    border-bottom: 2px solid #B15204;
    font-family: 'Nunito' ,sans-serif;
    padding: 5px;
    border-radius: 4px;
    font-weight: 100;
    color: #FFF;
    cursor: pointer;
    margin-right: 10px;
}
.display-inline-block { 
    display: inline-block; 
}
.tagline-form-submit:hover { 
    background-color: #FC790E;
}
.tagline-form-submit:active {
    border-bottom: 1px solid #194BA3;
    margin-top: 1px;
}

