<div class="newsletter-bar hidden hidden-xs">
    <button class="newsletter-close-button">X</button>
    <h3>Get the best upcoming events in your inbox with <a class="newsletter-link" href="http://forekast.com/weekly">The Weekly Forekast!</a></h3>

    <form class="validate newsletter-form-object" method="post" action="//forekast.us3.list-manage.com/subscribe/post?u=9305570dd7f6062d4290cde95&amp;id=db7abeacd4" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<input type="hidden" name="utm_content" value="tagline">
			<ul>
				<li class="display-inline-block">
					<input class="required email newsletter-form-input" type="email" id="mce-EMAIL newsletter-form-email" name="EMAIL" placeholder="Email Address" value="">
				</li>
				<li class="display-inline-block">
					<input class="button newsletter-form-submit" type="submit" value="Count Me In!" name="subscribe" id="mc-embedded-subscribe">
				</li>
			</ul>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;">
				<input type="text" name="b_9305570dd7f6062d4290cde95_db7abeacd4" tabindex="-1" value="">
			</div>
			</div>
	</form>
</div>
